body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

    .sidebar .nav-link {
        padding: 12px;
        font-size: 16px;
    }

        .sidebar .nav-link:hover {
            background-color: #444;
            border-radius: 5px;
        }

.content {
    margin-left: 260px; /* Sesuaikan dengan lebar sidebar */
    width: calc(100% - 260px);
    padding: 20px;
}
input, select, button {
    max-width: 300px;
}

/*Report*/
.scrollable-grid {
    max-height: 250px; /* Atur tinggi maksimal agar scroll muncul */
    overflow-y: auto; /* Aktifkan scroll vertikal */
    display: block; /* Paksa tabel agar mengikuti batas */
    border: 1px solid #ddd; /* Opsional, untuk tampilan */
}

    .scrollable-grid table {
        width: 100%; /* Pastikan tabel mengisi container */
        table-layout: fixed; /* Hindari tabel melebihi batas */
        border-collapse: collapse;
    }

    .scrollable-grid th, .scrollable-grid td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }



